/**Three Tabs Styling*/
.three-tabs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    margin: 0 auto; 
  }
  
  .tab {
    font-size: 1rem;
    color: #00b894;
    cursor: pointer;
    font-weight: 400;
    padding-bottom: 5px;
    position: relative;
  }
  
  .tab.active {
    color: #8d00ff; 
    font-weight: bold;
  }
  
  .tab.active::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #8d00ff;
  }
  
  .count {
    font-weight: bold;
    margin-left: 5px; }
  